$font: Arial, sans-serif;
$fg-color: #444;
$bg-color: #EAEAEA;

body {
  font-family: $font;
  color: $fg-color;
  background: $bg-color;
}

.elevator {
  .display, .keyboard {
    width: 200px;
    padding: 10px;
    text-align: center;
  }

  .keyboard {
    border: 1px solid #999;
    background: #DDD;

    button {
      width: 50px;
      padding: 10px;
      margin: 10px;
      display: inline-block;
      background: #EEE;
      border: 2px solid #CCC;
      border-radius: 5px;
    }
  }

  .display {
    border: 1px solid #222;
    background: $fg-color;
    color: #DEDEDE;

    .direction {
      font-size: 2em;
      color: #AAA;

      &.active {
        color: #00FF00;
      }
    }
  }
}
